<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PouexMM -->
      <package
            uri="http://pouexmm/1.0"
            class="dmss.pouex.pouexmm.PouexmmPackage"
            genModel="metamodel/PouexMM.genmodel"/>
   </extension>

</plugin>
